/*Det hät är en kommentar*/

h1{
color: olivedrab;
font-family: Arial, Helvetica, sans-serif;
font-size: 4rem;

}

p{
font-family: fantasy;
color: #b452b481;

}

h2{
color: hsl(0, 100%, 50%);

}

h3{
color: rgb(255, 0, 242);

}

.skyblue{
background-color: lightskyblue;

}

/* alla h3 och li element */

h3, li{
color: greenyellow;

}

/* alla li-element inuti alla ol-element */

ol li{
font-size: 2rem;

}

