body /*ändrar bakgrundsfärg*/
{
    background-color: darkgrey;
}

h1 /*ändrar rubrikfärg*/
{
    color: rgb(50, 50, 200);
}

h2
{
    color: rgb(120, 10, 10);
}

p
{
    color: rgb(130, 40, 220);
}

img.picture1 /*ställer in b*h på bilden*/
{
    width: 400px;
    height: 300px;    
}
