body{
    background-color: rgb(82, 167, 209);
}
h1{
    font-size: 50px;
    font-style: italic;
    color: rgb(15, 15, 100);
}
p{
    font-size: 20px;
    font-style: normal;
    color: rgb(3, 3, 10);
}