h1{ 
    /*
    color:red;
    font-size:100px;
    */
}

h2{
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p{
    border-width: 5px;
    border-style:solid;
}
