body {
  background-color: rgba(0, 0, 0, 0.934);
}

h1 {
  color: rgb(249, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

h2 {
  color: rgb(247, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
p {
  color: rgb(255, 234, 1);
}

.inputF {
  border-color: crimson;
  border-style: solid;
  border-width: 3px;
}

.enterBtn {
  background-color: #4506f0;
  border-style: ridge;
  border-color: crimson;
  color: rgb(35, 226, 14);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: wait;
}

.enterBtn:hover {
  background-color: #07921c;
  color: rgb(6, 0, 0);
}

.uglytext {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: #ffffff;
  border-style: ridge;
  border-color: crimson;
}

img {
    border-style: ridge;
    border-color: crimson;
    border-width: 3px;
}
