h1{
    color:rgb(113, 113, 254);
    font-weight: bold;
}
/*
h2{
   color:rgb(255, 0, 0);  
    font-size: 150px;
    font-style: italic;
}

*/
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
