h1{
   color:red;
    font-style: italic;
    font-size: 50px;

}

h2{
    background: aqua;
    margin: 30 ;

}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border-style: dotted;
    border-width: 5px;
    padding: 10px;
    margin: 20px;
}

