h1{ color: blueviolet;
    font-size: small;
    font-weight: 400px;
    font-style: italic;
}

img{
    border: 5px solid rebeccapurple; width: 400px; height: 300px;
}

p{ color: blueviolet;
height: fit-content;
font-size: small;
font-style: italic;}
