h1{
    color:red;
    font-size: 100px;
}

/*
p{
    color:rgb(0, 136, 255);
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*/