   /* Gr + 7 -> {  */
   /* Gr + 0 -> }  */

h1{
 
    color: blue;
    font-size: 50px;
    font-weight: bold;
    
}

h1{
 
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: bold;
    
}


h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;

    
}


/* Red */
.Divide {
    border-color: #ff0000;
    color: rgb(0, 0, 0);
  }


  
