h1{
    color: rgb(205, 148, 215);
    font-size: 70px;
    font-weight: bold;
}

h2{
    color: rgb(245, 95, 205);
    font-size: 30px;
    font-weight: italic;
}

h3{
    color: rgb(185, 69, 154);
    font-size: 20px;
    font-weight: italic;
}