h1{
    /*color: aqua;
    font-size: 150px;*/
    font-style: italic;
}

h2{
    color: #f0f;
    font-weight: bold;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}