body{
    background-color: rgb(215, 243, 250);
}

h1{
    /*
    color:rgb(0, 47, 255);
    font-size: 100px;
    */
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}