body {
    background-color: rgba(0, 5, 7, 0.993);
  }
h1{
    color: rgb(235, 14, 235);
    text-align: center;
    font-size: 75px;
    font-weight:lighter
}

 
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center2{
    display:flex;
    justify-content: center;
    margin-top: 50px;

  }

  label{color: rgb(183, 221, 13);

  }
