html {
    height: 100%;
}
body {
  background: linear-gradient(119deg, rgba(208,208,208,1) 0%, rgba(158,169,177,1) 25%, rgba(27,26,26,1) 100%);
}
.picture {
    width: 400px;
    height: 300px;
}