h1 {
    color: rgb(11, 50, 245);
    font-weight: bold;
}

h2 {
    color: rgb(210, 245, 13);
    font-style: italic;
}

p {
    font-size: 100px;
}

img {
    width: 400px;
    height: 300px;
}
