h1 {
    color: teal;
    font-style: italic;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-style: oblique;
}

img {
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    width: 400px;
    height: 300px;
}
