h1{
    color: rgb(157, 80, 105);
    font-size: 80px;
    font-weight: lighter;
    font-family: helvetica, sans-serif;

}

h2{
font-family: helvetica, sans-serif;
}

img{
    
    width: 400px;
    height: 300px;
/*  border-style: dotted;
    border-width: 5px;
    border-color: crimson; */

    border: 5px dotted red;
}

p{
    font-family: Helvetica, sans-serif;
}