h1{
font-style: italic;
color: rgb(138, 236, 27);
}
h2 {font-style: normal;
    color: rgb(12, 12, 11);
}
body{
    background-color: darksalmon;
}


img{
    width: 80px;
    height: 50px;
}
.bild1{
    width: 40px;
    height: 30px;
    color:blue;
}
/*#bild1{
    width: 40px;
    height: 30px;
}*/

.shadow{
    box-shadow: 5pt  5px 10px black;
}