h1{  
    color:red;
    font-size: 120px;
    font-weight: bold;
}

h2{  
    /*color:rgb(8, 247, 56);
    font-size: 70px;
    font-style: italic; */
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

