/*   alt Gr + 7 -> {    */
/*   alt Gr + 0 -> }    */

h1{
    color: rgb(253, 6, 6);
    font-size: 50px;
    font-weight: bold;
} 

h1{
    color: rgb(84, 6, 253);
} 

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}