h1 {
  font-style: italic;
  color: rgb(218, 170, 14);
  font-size: 70px;
  font-weight: bold;
  shado
}
body {
  background-color: rgb(18, 110, 122);
}
h2 {
  color: rgb(30, 54, 163);
  font-size: 50px;
  font-style: italic;
}
p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.shadow {
    box-shadow: 2pt  2px  2px  2px black;
}